{% extends "base.html" %}

{% block content %}
 <!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- Sidebar Holder -->
    
<section class="header page" id="HOME">
      <h2></h2>
      <div>
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
              <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">
                          <img src="static/img/Analysticar.png" alt="Logo">
                      </a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <!-- NAV -->
                          <li><a href="#HOME" class="url-none">INICIO</a> </li>
                          <li><a href="#VIDEOS" class="url-none">VIDEOS</a> </li>
                          <li><a href="#PROYECTO" class="url-none">PROYECTO </a> </li>
<!--                             <li><a href="#PILARES">PILARES</a></li>
                          <li><a href="#DEMO">DEMO</a> </li> -->
                          <li><a href="#CONTACT" class="url-none">CONTACTO</a> </li>
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
              </div>
              <!-- /.container- -->
          </nav>


          <div class="container" id="home-container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="logo text-center">
                              <!-- LOGO -->
                          <!-- <img width="125" height="55" src="static/img/Analyticar-logo.jpeg" alt=""> -->
                      </div>
                  </div>
                  <div class="row" style="margin-top:100px;">
                              <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 text-responsive">
                                <div align="center" class="logo-prueba">
                                <!-- <img class="img-responsive" class="logo-prueba"> -->
                                </div>
                          </div>
                          <div class="col-md-1 col-sm-1">
                          </div>
                    </div>
              </div>

          </div>
      </div>
</section>

<section class="cta cta02 wrapper">
      <div class="row" style="padding-top:20px;">
        <div class="col-md-8 col-sm-8 col-md-offset-1 col-sm-offset-1 text-responsive" align="justify" style="text-align:justify !important;">
          <h1 style="text-align:center;margin:0px !important;" class="section-title" style="font-size:24px !important;">Nueva experiencia en la industria aseguradora</h1>

          <h2 class="section-title" style="font-size:24px !important;margin-bottom:0px !important;text-align: justify !important;"><b>Analysticar</b> es la nueva experiencia al manejo, no importa cuán avanzado sea el vehículo asegurado, sólo a través del teléfono inteligente de tu cliente le proveemos una asistencia en el camino de última generación y una innovadora herramienta para proteger tus riesgos.</h2>
          <h2 class="section-title" style="font-size:24px !important;text-align: justify !important">El compañero ideal de viaje que le data-targetá, no sólo asistencia a
          tu cliente, sino que te permitirá conocerlo mejor y valorizar su relación en el tiempo. Todo esto con el uso de la inteligencia artificial, analíticas avanzadas y la una nueva experiencia de clientes.</h2>
          <!-- <img style="width:100%;" src="static/img/fondo-que-esanalysticar.png"> -->
        </div>
      </div>
</section>


<section id="VIDEOS" style="margin:50px 0px 150px 0px;">
  <main class="main-content">
    <div class="">
      <div class="container">
        <h2 class="section-title">Conoce los pilares de Analysticar</h2>
        <div class="row" style="margin-top:80px">
          <div class="col-md-4"> 
            <div class="youtube-container" align="center">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/prjuyF75Cso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div> 

          <div class="col-md-4"> 
          
           <div class="youtube-container" align="center">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/7seJPgo9ct0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-md-4"> 
            <div class="youtube-container" align="center">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/U-2d1lvgb5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      

      </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->
  </main>
</section>

<section id="PROYECTO">
        <div style="background-color:#fff;padding-top:20px;">
            <h2 style="text-align:center;margin-bottom:0px !important;" class="section-title">Así ha sido nuestro camino</h2>
            <img style="width:100%;" src="static/img/Time-line-analysticar.png">
        </div>

</section>



<div id="alerta" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" style="width: 400px;">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" style="font-family: Century Gothic; font-weight: bold; font-size: 18px; color:#000;text-align:center;margin-left:80px;">Información Importante</h4>
              </div>
              <div class="modal-body">
                  <p style="font-family: Century Gothic; font-size: 16px; color:#000;text-align:center;" id="mensaje"></p>
              </div>
              <div class="modal-footer">
                  
              <button type="button" class="btn btn-default" data-dismiss="modal" id="aceptarModal" aria-hidden="true">Aceptar</button>
              
              </div>
          </div>
      </div>
  </div>

<div class="chat-button">
        <a href="#"><img src="../../static/img/bubble.png" /></a>
        <img src="../../static/img/text.gif" class="chat-text">
              <span class="chat-notification">1</span>
      </div>
      <div class="msg_box" style="z-index:1001;display: none;">
        <div class="msg_head"><p>¡Habla con nosotros!</p></div>
          <div id="chat-column-holder" class="msg_wrap">
            <div class="msg_body">
              <div id="scrollingChat" ></div>
            </div>
            <div class="msg_footer">
              <div class="textarea-wrapper">
                <textarea placeholder="Escribe aquí..." role="textbox" onkeydown="ConversationPanel.inputKeyDown(event, this)" class="message-pane-input" rows="1" id="textInput"></textarea>
              </div>
            </div>
          </div>
        </div>



      <input type="hidden" id="payload-initial-message">
      <input type="hidden" id="payload-request" class="payload">
      <input type="hidden"  id="payload-response" class="payload"> 

<script type="text/javascript">

    $(document).ready(function(){
      {% for message in messages %}
        if ("{{ message }}" != ""){
          $('#mensaje').html("{{ message }}")
          $('#alerta').modal('show')
        }
      {% endfor %}

    });

  </script>

{% endblock content %}


