{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
  section{
    margin-bottom: 50px;
  }
  .bordeCarro {
    border: 2px solid #5fba7d !important; 
  }
</style>

<div class="table-responsive col-md-10 col-sm-10 col-xs-10" style="margin-top:80px;margin-left:40px;">
    <section id="consultarDatos">
          <table class="table table-hover" style="text-align:center">
              <thead>
                <th colspan="8" style="background-color:#0f75bd; color:white">Datos del titular</th>
              </thead>
              <thead>
                <th>Nombres y Apellidos</th>
                <th>Nº de Identificación</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
              </thead>
              <tbody>
                  <tr>
                    <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    <td>{{request.user.ident}}</td>
                    <td>{{request.user.email}}</td>
                    <td>{{request.user.telefono}}</td>
                  </tr>
              </tbody>
            </table>
        <br><br>    

          </section>
        </div>
    </section>
</div>


{% endblock content %}

